
all:
  ad_stat_plugin:
    id_cookie_name:       ad     # Название куки для хранения id клика
    id_cookie_ttl:        183    # Дней
    user_click_id_column: false  # Колонка в sfGuardUser для записи id клика при регистрации пользователя
    use_js_cookie:        false

    request_params:
      campaign: utm_campaign     # Название кампании
      source:   utm_source       # Источник (yandex, begun, google)
      medium:   utm_medium       # Тип объявления (cpc, banner, mail)
      content:  utm_content      # Версия объявления

    # Поисковые и пр. боты, клики которых мы не должны учитывать
    # TODO: вынести в БД
    bots:
      - google
      - yandex
      - direct
      - facebook
      - bitlybot
      - metauri
      - twitter
      - TweetmemeBot
      - yahoo
      - mail.ru
      - resolver
      - friendfeed
      - PycURL
      - postrank
      - wikiwix
    ip_black_list:
      - 65.52.6.151   # FB
      - 93.186.236.84 # VK

    # Статистика
    columns:
      clicks:
        title: Переходы
        query: PluginAdClickQuery
    table_columns:
      - clicks
    chart_columns:
      - clicks
