
all:
  ad_stat_plugin:
    id_cookie_name:       ad     # Название куки для хранения id клика
    id_cookie_ttl:        183    # Дней
    user_click_id_column: false  # Колонка в sfGuardUser для записи id клика при регистрации пользователя
    request_params:
      campaign: utm_campaign     # Название кампании
      source:   utm_source       # Источник (yandex, begun, google)
      medium:   utm_medium       # Тип объявления (cpc, banner, mail)
      content:  utm_content      # Версия объявления
    columns: # Статистика
      clicks:
        title: Переходы
        query: PluginAdClickQuery
    table_columns:
      - clicks
    chart_columns:
      - clicks
    # Поисковые и пр. боты, клики которых мы не должны учитывать
    bots:
      - google
      - yandex
      - direct
      - facebook
      - bitlybot
      - metauri
      - twitter
      - TweetmemeBot
      - yahoo
